.popular , .veggie {
    margin: 4rem 0rem;
}

.popCard , .vegCard {
    min-height: 15rem;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
}

.popImg , .vegImg{
    border-radius: 2rem;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popTitle , .vegTitle {
    position: absolute;
    z-index: 10;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%,0%);
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient{
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7));
}

.categoryList {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}